*,
*::before,
*::after {
  box-sizing: border-box;
}
head {
  font-family: "Courier", sans-serif;
  font-size: 20px;
  float: left;
  padding: 16px;
  margin-top: 32px;
  background: #214fb3;
}
body {
  font-family: "Concert One", cursive;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.timer {
  font-weight: bold;
  font-size: 20pt;
  float: right;
  margin-top: 32px;
  border: crimson;
}
.quiz button {
  display: block;
}
button {
  display: inline-block;
  width: 500px;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: blue;
  border-radius: 10px;
  padding: 5px;
  color: aliceblue;
  border: 2px;
  transition-timing-function: step-start;
}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
}

#division {
  padding: 20px;
  margin-top: 20px;
  background: #214fb3;
}

.float-right {
  float: right;
}


@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  head {
    font-size: 2rem;
  }
  body {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
